<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="UsuarioConexion"
			 connectionString="Server=localhost;Database=ExamenIIUnidad;Trusted_Connection=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlCLient"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>